body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
   
    padding: 20px;
  }
  #subscription-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #subscription-form input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    width: 300px;
  }
  
  #subscription-form button {
    background-color: #2a6496;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    padding: 8px 12px;
    text-transform: uppercase;
  }
  
  .card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
       width: 300px;
       height:auto;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    overflow: hidden;
    transition: transform ease-out 500ms;

  }

  .card:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);
  }
  
  .card .text-content {
    padding: 20px;
  }
  
  
  .card img {
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    height: 150px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .card h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .card a {
    text-decoration: none;
    color: #2a6496;
  }

  .feedsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  .card button {
    background-color: #2a6496;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    padding: 8px 12px;
    text-transform: uppercase;
  }
  
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  
  .read-more-link {
    color: #2a6496;
    text-decoration: none;
    font-size: 14px;
  }