@font-face {
  font-family: "GeistVariableVF";
  src: url("fonts/GeistVariableVF.woff2") format("woff2"), url("fonts/GeistVariableVF.ttf") format("ttf");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* Base Theme Variables */
  --font-family: "Lato", "Open Sans", "Noto Sans", "GeistVariableVF", "Roboto", sans-serif;
  --box-shadow-standard: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  --box-shadow-hover: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  --blur: blur(0.65em);

  /* Light Theme Colors */
  --light-background-color: rgba(245, 245, 245, 1);
  --light-new-tab-background-color: #F9F9FB;
  --light-theme-search-box-color:#e0e0e05a;
  --light-theme-search-box-color-active: #fff;
  --light-new-tab-background-color-secondary: #FFF;
  --light-background-color-hover: rgba(245, 245, 245, 0.9);
  --light-active-color: rgba(245, 245, 245, 0.7);
  --light-foreground-color: #1a1a1a;
  --light-accent-color: #007bff;
  --light-border-color: #e6e6e6;

  /* Dark Theme Colors */
  --dark-background-color: rgba(0, 0, 0, 1);
  --dark-new-tab-background-color: #2B2A33;
  --dark-theme-search-box-color:rgba(0,0,0,0.5);
  --dark-theme-search-box-color-active: rgba(0,0,0,0.8);;
  --dark-new-tab-background-color-secondary: #42414d;
  --dark-background-color-hover: rgba(18, 17, 17, 0.9);
  --dark-foreground-color: rgba(255, 255, 255, 0.9);
  --dark-active-color: rgba(0, 0, 0, 0.7);
  --dark-accent-color: #708ea5;
  --dark-border-color: #000;

  /* Sepia Theme Colors */
  --sepia-background-color: #f4e7d8;
  --sepia-foreground-color: #5c4a3d;
  --sepia-accent-color: #d8bfaa;
  --sepia-border-color: #d8bfaa;

  /* Progress Indicator */
  --progress-background: #eee;
  --progress-foreground-light: #007bff;
  --progress-foreground-dark: #fff;
  --progress-foreground-sepia: #704214;

  /* transition variables */
  --transition-fast: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  --transition-standard: all 0.25s ease-in-out;
  --transition-slow: all 0.5s ease-in-out;
}

/* .light {
  --background-color: var(--light-background-color);
  --background-color-hover: var(--light-background-color-hover);
  --color: var(--light-foreground-color);
  --accent-color: var(--light-accent-color);
  --border-color: var(--light-border-color);
  --active-color: var(--light-active-color);
}

.dark {
  --background-color: var(--dark-background-color);
  --background-color-hover: var(--dark-background-color-hover);
  --color: var(--dark-foreground-color);
  --accent-color: var(--dark-accent-color);
  --border-color: var(--dark-border-color);
  --active-color: var(--dark-active-color);
}

.sepia {
  --background-color: var(--sepia-background-color);
  --background-color-hover: var(--sepia-background-color-hover);
  --color: var(--sepia-foreground-color);
  --accent-color: var(--sepia-accent-color);
  --border-color: var(--sepia-border-color);
} */

@media (prefers-color-scheme: dark) {
  body {

    --background-color: var(--dark-new-tab-background-color);
    --background-color-secondary: var(--dark-new-tab-background-color-secondary);
    --background-color-hover: var(--dark-background-color-hover);
    --color: var(--dark-foreground-color);
    --search-box-color: var(--dark-theme-search-box-color);
    --search-box-color-active: var(--dark-theme-search-box-color-active);
    --accent-color: var(--dark-accent-color);
    --border-color: var(--dark-border-color);
    --reading-progress-container-background-color: var(--dark-background-color-hover);
    --reading-progress-color: var(--dark-accent-color);
    --progress-background: var(--dark-background-color);
  }
}

@media (prefers-color-scheme: light) {
  body {
    --background-color: var(--light-new-tab-background-color);
    --background-color-secondary: var(--light-new-tab-background-color-secondary);
    --background-color-hover: var(--light-background-color-hover);
    --color: var(--light-foreground-color);
    --accent-color: var(--light-accent-color);
    --border-color: var(--light-border-color);
    --reading-progress-container-background-color: var(--light-background-color-hover);
    --reading-progress-color: var(--light-accent-color);
    --search-box-color: var(--light-theme-search-box-color);  
    --search-box-color-active: var(--light-theme-search-box-color-active);
  }
}

/* Global Styles */
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--color);
  transition: var(--transition-standard);
  margin: 0;
  overflow-x: hidden;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.background-texture-container{
    background-image: url('./images/noisy-background.jpg');
    /* background-repeat: repeat; */
    width: 100vw;
    height: 100vh;
    /* z-index: -1; */
    opacity: 0.9;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-image-container img {
  position: fixed;
  
  width: 100%;
  height: 100%;
  z-index: -2;
  filter: dim(0.5);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.1s linear;
  /* -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); */
}

/* Add this to ensure the content is placed above the background image */
body > *:not(.background-image-container) {
  position: relative;
  z-index: 1;
}

.attribution-container {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 10px;
  color: white;
  font-size: 12px;
  z-index: -1;
  line-height: 1.2;
  opacity: .75;

}
.attribution-container:hover {
  opacity: 1;
}

.attribution-title {
  font-weight: bold;
  opacity: .75;
}
.attribution-title:hover {
  opacity: 1;
}



.attribution-copyright {
  font-style: italic;
  opacity: 1;
}
.attribution-copyright:hover {
  opacity: 1;
}

.greeting {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 24px 0 24px 0;
  place-items: center;
}

.card {
  overflow: hidden;
  position: relative;
  row-gap: 8px;
  background: var(--background-color-secondary);
  border: var(--border-color);
  border-radius: 24px;
  box-shadow: var(--box-shadow-standard);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  max-width: 400px;
  margin-bottom: 12px;
  break-inside: avoid;
  -webkit-backdrop-filter: var(--blur);
  backdrop-filter: var(--blur);
  /* transition: var(--transition-standard); */
}

.card .card-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  filter: blur(90px) brightness(1.4);
  z-index: -1;
  opacity: 0.7;
  transition: var(--transition-slow);
}

.card:hover .card-bg {
  opacity: 0.5;
  filter: blur(90px) brightness(1.1);
  transform: scale(1.25);
}

.card:hover {
  background: var(--background-color-hover);
  box-shadow: var(--box-shadow-hover);
  transition: var(--transition-slow);
}

.card:active .card-bg{
  background: var(--active-color);
  filter: blur(90px) brightness(1.1);
  box-shadow: var(--box-shadow-hover);
  transform: scale(1.15);
}

.card .image-container {
  position: relative;

  width: 100%; /* Slightly larger than the card */
  height: 100%;
  max-height: 320px;
  top: 0;
  left: 0;
  transition: transform 0.25s ease-in-out;
  overflow: hidden;
  border-radius: 12px;

}
.card .image-container .loading{
  padding-bottom: 66.5492958%;

  background: linear-gradient(rgb(242, 242, 242) 66%, rgba(242, 242, 242, 0));
}

.card .image-container .loading:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  animation: scaleout 1.2s infinite ease-in-out;
}

.card .image-container img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: contain;
  transform-origin: center;
  border-radius: 24px;
}

.card:hover .image-container {
  border-radius: 24px 24px 0 0;
}

.card .text-content {
  padding: 8px 24px 12px 24px;
}

.card:hover .text-content {
  filter: brightness(1.2);
}

.card h3 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 600;
}

.card p {
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.33;
}

.card a {
  text-decoration: none;
  color: #2a6496;
  font-weight: 600;
  margin-bottom: 8px;
  display: inline-block;
}



.card button {
  background-color: #2a6496;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-top: 12px;
  padding: 8px 12px;
  text-transform: uppercase;
}

.website-info img {
  width: 20px;
  height: 20px;
  margin: 0 !important;
  padding: 0px;
  border: none !important;
  box-shadow: none;
  background: none;
}

.website-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
  font-kerning: none;
  gap: 8px;
  margin-bottom: 8px;
  
}

.website-info span{
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.website-info .site-favicon {
  max-width: 20px;
  max-height: 20px;
  background: rgb(255,255,255) !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 3px;
}

.website-info h3 {
  font-size: 16px;
  font-weight: 700;
}

.card .date {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.75;
  margin-top:8px;
}

.description  {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  max-height: 200px;
}

.description p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

.long-description {
  -webkit-line-clamp: 3;
  font-size: 14px;
  line-height: 1.33;
}

.card:hover .long-description {
  -webkit-line-clamp: 6;
  transition: var(--transition-slow);
}

.read-more-link {
  color: #2a6496;
  text-decoration: none;
  font-size: 14px;
  margin-top:8px;
}

.header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 55vh;
  padding: 14rem 2rem;
}

#main-container {
  margin: 0 auto;
  padding: 1rem;
}
/* Search Container */
body {
  background: var(--new-tab-background-color);
}

::selection {
  background: #212129;
}

.search-wrapper {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 44px;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    transition: var(--transition-standard);
}


.search-wrapper .input-holder {    
   height: 64px;
   width:600px;
   overflow: hidden;
   background: var(--search-box-color);
   border-radius:50px;
   backdrop-filter: blur(30px);
   position: relative;
   transition: var(--transition-standard);
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.search-wrapper:focus-within .input-holder {
   
   border-radius: 50px;
   background: var(--search-box-color-active);
   transition: var(--transition-standard);
}
.search-wrapper .input-holder .search-input {
   width:100%;
   height: 40px;
   padding:0px 70px 0 20px;
   /* opacity: 0; */
   position: absolute;
   top:0px;
   left:0px;
   background: transparent;
   box-sizing: border-box;
   border:none;
   outline:none;
   font-family:var(--font-family);
   font-size: 18px;
   font-weight: 400;
   line-height: 20px;
   color:var(--color);
   transform: translate(0, 60px);
   transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
   transition-delay: 0.3s;
}

.search-wrapper .input-holder .search-input[type=text]::placeholder
{
  color:var(--color);
  opacity: .6;
}
.search-wrapper .input-holder .search-input[type=text]:focus::placeholder
{
  color:var(--color);
  opacity: .4;
}
.search-wrapper .input-holder .search-input {
   opacity: 1;
   transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
   width:70px;
   height:40px;
   border:none;
   border-radius:6px;
   background: none;
   padding:0px;
   outline:none;
   position: relative;
   z-index: 2;
   float:right;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.search-wrapper .input-holder .search-icon {
   width: 50px;
   height:40px;
   margin: 10px;
   border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
   width:22px;
   height:22px;
   display: inline-block;
   vertical-align: middle;
   position:relative;
   transform: rotate(45deg);
   transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper .input-holder .search-icon span {
   transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
   position: absolute; 
   content:'';
}
.search-wrapper .input-holder .search-icon span::before {
   width: 4px;
   height: 11px;
   left: 9px;
   top: 18px;
   border-radius: 2px;
   background: var(--background-color-secondary);
}
.search-wrapper .input-holder .search-icon span::after {
   width: 14px;
   height: 14px;
   left: 0px;
   top: 0px;
   border-radius: 16px;
   border: 4px solid var(--background-color-secondary);
}

.search-wrapper:focus-within .input-holder .search-icon span::after{
    border-color: var(--accent-color);
}
.search-wrapper:focus-within .input-holder .search-icon span::before {
  background: var(--accent-color);
}



#settings-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: all 0.25s ease-in-out;
}

#settings-button:hover {
  background-color: #0056b3;
}

/* masonry layout */
/* fluid 5 columns */

.grid-item {
  width:20%;
  visibility: hidden;
}
.grid-sizer
 { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }

@media screen and (min-width: 600px) {
  /* 5 columns for larger screens */
  .grid-sizer { width: 20%; max-width: 320px;}
  .card { max-width: 90%;
  min-width: 240px; }
  .site-card { min-width: 112px;
  min-height: 112px;}
}

@media screen and (min-width: 720px) {
  /* 5 columns for larger screens */
  .grid-sizer { width: 20%; max-width: 45%;}
  .card { max-width: 45%;
  min-width: 320px; }
  .gutter { width: 2%; }
}
@media screen and (min-width: 900px) {
  /* 5 columns for larger screens */
  .grid-sizer { width: 20%; max-width: 35%;}
  .card { max-width: 30%;
  min-width: 280px; }
}

@media screen and (min-width: 1124px) {
  /* 5 columns for larger screens */
  .grid-sizer { width: 10%; max-width: 20%;}
  .card { max-width: 15%;
  min-width:340px ; }
}


#feed-container {
  /* display: grid; */
  opacity: 0;
  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1.5fr)); */
  /* column-gap: 36px; */
  margin: 0 auto;
  border-radius: 24px;
  /* background: rgba(210, 210, 210, .45);
  backdrop-filter: blur(10px); */
  /* transition: var(--transition-slow); */
  max-width: 2200px;
z-index: 4;
}

#feed-container::after{
  content: '';
  display: block;
  clear: both;
}

.feed-refresh-timer {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.875rem;
  margin-bottom: 12px;
}

/* loading spinner for feed container */
.spinner {
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  border-top: 4px solid #14141483;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
  z-index: 1000000000000 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.reader-view-page-content {
  position: relative;
  border-radius: 7px;
  /* other styles */
}

.reader-view-modal hr.solid {
  border-top: 1px solid #bbb;
}

.overlay__btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.overlay__btn--transparent {
  background: transparent;
  color: var(--dark-color);
  border: 2px solid var(--dark-color);
  border-width: 2px;
  margin-right: 0.75rem;
}

.overlay__btn-emoji {
  margin-left: 0.375rem;
}

a {
  text-decoration: none;
  color: var(--color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Not too many browser support this yet but it's good to add! */
@media (prefers-contrast: high) {
  .orb-canvas {
    display: none;
  }
}

@media only screen and (max-width: 1140px) {
  .overlay {
    padding: 8rem 4rem;
  }
}

@media only screen and (max-width: 840px) {
  body {
    padding: 1.5rem;
  }

  .overlay {
    padding: 4rem;
    height: auto;
  }

  .overlay__title {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .overlay__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .overlay {
    padding: 1.5rem;
  }

  .overlay__btns {
    flex-wrap: wrap;
  }

  .overlay__btn {
    width: 100%;
    font-size: 0.75rem;
    margin-right: 0;
  }

  .overlay__btn:first-child {
    margin-bottom: 1rem;
  }
}

/* Settings Page */
.settings-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

.settings-container h1,
.settings-container h2 {
  margin-bottom: 1rem;
  font-family: var(--font-family);
}

.settings-container ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2rem;
}

.settings-container ul li {
  margin-bottom: 0.5rem;
}

.subscription-form {
  display: flex;
  margin-bottom: 2rem;
}

.subscription-form input {
  flex-grow: 1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
}

.subscription-form button {
  padding: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.subscription-form button:hover {
  background-color: #0056b3;
}

.settings-container #back-to-main {
  padding: 0.5rem;
  background-color: #ccc;
  color: #333;
  border: none;
  cursor: pointer;
}

.settings-container #back-to-main:hover {
  background-color: #999;
}

/* Remove Feed Button */
.remove-feed-button {
  background-color: transparent;
  border: none;
  color: #000;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
}

.remove-feed-button:hover {
  color: #c00;
}

/* Subscribed Feeds List */
#subscribed-feeds-list {
  list-style-type: none;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  row-gap: 24px;
  column-gap: 24px;
  max-width: 600px;
  margin: 1rem auto;
  transition: all 0.25s ease-in-out;
}

#subscribed-feeds-list .list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(112deg,transparent 30%,rgba(var(--geist-foreground-rgb),.1) 40%,rgba(var(--geist-foreground-rgb),.3) 50%,rgba(var(--geist-foreground-rgb),.1) 60%,transparent 80%);
  background-color: rgba(18, 17, 17, 0.7);
  border-color: rgba(99, 99, 99, 0.7);
  border-width: 2px;
  border-style: solid;
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0 0 0 1px transparent, 0 2px 4px transparent, 0 12px 24px transparent;
  width: 240px;
  backdrop-filter: blur(250px);
}
#subscribed-feeds-list .list-item .background-image-container {
  width: 130%;
  height: 130%;
  border-radius: 7px;
  overflow: hidden;
  filter: blur(35px) brightness(1.5);
  z-index: -1;
  opacity: 0.85;
}




#subscribed-feeds-list .list-item .remove-feed-button span {
  width: -webkit-fill-available;
  font-size: medium;
  font-weight: 600;
  font-family: var(--font-family);
  color:var(--accent-color);
}

#subscribed-feeds-list .list-item .remove-feed-button:hover {
  color:var(--accent-color);
filter: brightness(1.7);
}

.website-info span {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  color: var(--color);

  width: -webkit-fill-available;
}

#subscribed-feeds-list .list-item img {
  width: 48px;
  height: 48px;
  border-radius: 7px;
  object-fit: cover;
}

.reader-view-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  font-family: var(--font-family);
  line-height: 1.6;
  font-size: 18px;
  margin: 0 auto;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow-y: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.reader-view-modal.visible {
  opacity: 1;
  position: fixed;
}

.reader-view-modal h1,
.reader-view-modal h2,
.reader-view-modal h3,
.reader-view-modal h4,
.reader-view-modal h5,
.reader-view-modal h6 {
  font-family: var(--font-family);
  font-weight: 500;
}

.reader-view-modal a {
  clear: both;
  color: var(--accent-color);
  text-decoration: underline;
  display: contents;
}

.reader-view-modal img {
  max-width: 100%;
  height: 100%;
  aspect-ratio: auto;
  display: block;
  margin: 12px auto;
  border-radius: 7px;
  stroke-width: 1px;
  stroke: #000;
}

.reader-view-modal p {
  margin: 1rem 0;
  font-weight: var(--font-weight-light);
  line-height: 1.8;
}

.reader-view-modal figcaption {
  font-size: 0.9em;
  text-align: center;
  color: #666;
  margin-bottom: 1rem;
}

.reader-view-modal .close-button {
  align-self: flex-end;
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
}

.reader-view-content {
  border-radius: 8px;
  position: relative;
  max-height: 90vh;
  max-width: 1000px;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
  scrollbar-width: none;
  /* Firefox */
  margin: auto;
  box-shadow: var(--box-shadow-standard);
  background-color: var(--background-color);
}

/* For Chrome, Safari, and Opera */
.reader-view-content::-webkit-scrollbar {
  display: none;
}

.reader-view-title {
  font-size: 36px;
  margin: 0;
  margin-bottom: 8px;
  line-height: 1.2;
  color: var(--color);
}

.reader-view-author {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}

.reader-view-reading-time {
  font-size: 14px;
  margin: 8px 0px !important;
  margin-bottom: 4px;
  font-weight: var(--font-weight-medium) !important;
  opacity: 0.7;
}

.reader-view-reading-time p {
  margin: 0;
}

.reader-view-close {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 2rem;
  font-weight: 900;
  color: var(--foreground-color);
  cursor: pointer;
}

.most-visited-sites {
  margin-top: 20px;
}

.site-card .site-card-background-image-container {
  position: fixed;
  top:-5%;
  left: -5%;
  width: 110%;
  height: 110%;
  border-radius: 7px;
  overflow: hidden;
  filter: blur(35px) brightness(1.5);
  background-position: center center;
  background-size: cover;
  z-index: -1;
  opacity: 0.85;
}
.most-visited-sites h3 {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 400;
}

.most-visited-sites-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.reader-view-article {
  padding: 0 4rem;
}

.reader-view-header {
  position: -webkit-sticky;
  /* For Safari */
  position: sticky;
  padding: 32px 48px 12px 48px;
  top: 0;
  background-color: var(--background-color);
  z-index: 1000;
  /* To ensure header stays on top of other elements */
  /* ... (other existing styles) */
}

.site-card {
  display: -webkit-box;
  max-width: 120px;
  max-height: 160px;
  width: 10vw;
  height: 120px;
  background-color: var(--background-color);
  padding: 4px;
  border-radius: 7px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  background-blend-mode: darken;
  box-shadow: var(--box-shadow-standard);
  -webkit-backdrop-filter: blur(0.65em);
  backdrop-filter: blur(0.65em);
  transition: all 0.25s ease-in-out;
}

.site-card:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow-hover);
  background-color: var(--background-color-hover);
  filter: brightness(1.1);
}

.site-card:active {
  background: var(--background-color-hover);
  box-shadow: var(--box-shadow-hover);
}

.site-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--color);
  gap: 4px;
  height: fit-content;
}

.site-favicon {
  max-width: 48px;
  width: 50%;
  height: 50%;
  max-height: 48px;
  margin: 12px 12px 4px 12px;
  border-radius: 4px;
}

.site-title {
  color: var(--color);
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  overflow: hidden;
  padding: 4px 12px 0px 12px;
  text-overflow: ellipsis;
  height: 40px;
  max-width: 120px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 1.33;

}

.site-title p {
  color: var(--color);
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 32px;
  max-width: 120px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-line-clamp: 2;
}

.progress-indicator-container {
  display: flex;
  justify-content: center;
  position: sticky;
  width: 48px;
  height: 48px;
  right: 24px;
  bottom: 24px;
  left: 36px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: var(--background-color-secondary);
  border-radius: 100px;
}

/* reading progress indicator */
.progress-indicator {
  border-radius: 100px;
  width: 32px;
  height: 32px;
  position: relative;
  margin: auto;
}

.progress-circle {
  width: 100%;
  height: 100%;
}

.progress-circle__background,
.progress-circle__progress {
  fill: none;
}

.progress-circle__background {
  stroke: var(--progress-background);
}

.progress-circle__progress {
  stroke: var(--reading-progress-color);
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  transition: all 0.05s ease-in;
}

.progress-circle__progress .light {
  stroke: #007bff;
}

.progress-circle__progress .dark {
  stroke: #fff;
}

.progress-circle__progress .sepia {
  stroke: #704214;
}

.progress-circle__background .light {
  background-color: #fff;
}

.progress-circle__background .dark {
  background-color: #333;
}

.progress-circle__background .sepia {
  background-color: #f4e7d8;
}

/* styles for reader view settings */
.reader-view-settings-pane {
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 12px;
  color: var(--color);
  z-index: 1001;
}

.reader-view-content .light {
  background-color: var(--background-color);
  color: #000000;
  transition: color 0.25s ease-in-out;
}

.reader-view-content .dark {
  background-color: var(--background-color);
  color: var(--color);
  transition: color 0.25s ease-in-out;
}

.reader-view-content .sepia {
  background-color: var(--background-color);
  color: #5b4636;
  transition: all 0.25s ease-in-out;
}

.lazyload,
.lazyloading {
	opacity: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #ff0808 25%, #ddd 50%, #eee 75%);
  background-size: 400% 400%;
  animation: shimmer 1.5s infinite ease-in-out;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}

@keyframes shimmer {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400% 0;
  }
}
@keyframes scaleout {
  0% {
    transform: scale(0); }

  100% {
    transform: scale(1);
    opacity: 0; } }

.loading:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  animation: scaleout 1.2s infinite ease-in-out;

  mix-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, .9); }
